.gitignore
.vscode
.vscode-test/**
.yo-rc.json
**/*.map
**/*.ts
**/tsconfig.json
**/tslint.json
data/**
Makefile
node_modules
out/test/**
package-lock.json
src/**
src/build.ts
syntaxes/**
tsconfig.json
tsconfig.tsbuildinfo
webpack.config.js
